.card {
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.profile-picture {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bio {
    margin-bottom: 20px;
}

.courses {
    margin-bottom: 20px;
}

.birthdate {
    font-weight: bold;
}
