{% extends 'base.html' %}

{%block title%} 
<head>
<title>{{course.id}} - {{course.name}}</title>
</head>
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html>
<body>
  <div class="course-details">
    <div class="course-info">
      <h2 class="course-title"> {{course.get_html_badge}}</h2>
      <div class="course-badge">
      <img src="{{ course.badge.url }}" alt="badge">
    </div>
      <strong style="font-size: 30px;">{{course.price}}</strong><br>
      <p class="course-description">{{course.description|linebreaksbr }}</p>
      <p class="course-meta"><span>Instructor:</span>{{course.instructor}} <a href="{% url 'instructors' %}">view more</a> </p>
      <!-- create duration field for course model -->
      <p class="course-meta"><span>Duration:</span>30 hours</p>
      <div class="course-rating">
        <span class="rating-stars">⭐️⭐️⭐️⭐️⭐️</span>
        <span class="rating-value">4.9</span>
      </div>
      <form method="post" action="{% url 'enroll' course.pk %}">
        {% csrf_token %}
        <button class="enroll-button">Enroll Now</button>
      </form>
      <hr>
      <br><br><br>

      <div class="comments-container">
        <h2>Feedbacks</h2>
        {% for feedback in feedbacks %}
            <div class="comment">
                <div class="author">{{ feedback.author }}</div>
                <div class="timestamp">{{ feedback.posted_on }}</div>
                <div class="content">{{ feedback.content }}</div>
            </div>
        {% empty %}
            <p>No feedbacks yet.</p>
            <a href="{% url 'feedback' course.pk %}">Break the ice...</a>
        {% endfor %}

          {%if user.is_authenticated %}
              <a href="{% url 'feedback' course.pk %}">Add feedback...</a>
          {% endif %}
    </div>
  </div>
</body>
{%endblock%}