{% extends 'base.html' %}

{%block title%} 
<title>Login page</title>
{% endblock %}


{% block content %}
<div class="col-md-6 offset-md-3">
    <br><br>
    <h2 style="text-align: center;">Please login in order to continue.</h2><br><hr>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Username(email)</label>
          <input type="text" class="form-control" name="username"
          placeholder="Enter your username" required> 
          <label type="text" aria-describedby="help-text" id="password">


        </div>
        <div class="mb-3">
          <label  class="form-label">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
        </div>
        <a href="#">Forgot password?</a>
        <br><br>
        <div style="text-align: center;">
            <button type="submit"  class="button button1">Login</button>
        </div>
        <br>
        <p1>Don't have an account yet? <a href="{% url 'student_signup' %}">Register now</a></p1>
    </form>
    </div>

{%endblock%}