{% extends 'base.html' %}

{% block title %}
<title>Privacy & Policy</title>
{%endblock%} 


{% block content %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<style>
    body1 {
      margin-right: 30%;
      margin-left: 20px;
    }
  </style>
<body1>
  <h1>Privacy Policy</h1>
  
  <p>This Privacy Policy explains how Linden ELS ("we" or "our") collects, uses, and protects the personal information of users ("you" or "your") of our E-Learning system. By using Linden ELS, you agree to the terms and conditions outlined in this policy.</p>
  
  <h2>Information We Collect</h2>
  
  <p>Linden ELS may collect certain personal information from you, including:</p>
  
  <ul>
    <li>Full name</li>
    <li>Email address</li>
    <li>Username and password</li>
    <li>Profile picture</li>
    <li>Other information you provide when using our services</li>
  </ul>
  
  <h2>How We Use Your Information</h2>
  
  <p>We use the collected information for the following purposes:</p>
  
  <ul>
    <li>Providing and improving our E-Learning services</li>
    <li>Managing user accounts and registrations</li>
    <li>Personalizing user experience</li>
    <li>Communicating with you, including sending important notifications</li>
    <li>Analyzing usage trends and improving our website and services</li>
    <li>Enforcing our terms of service and protecting against fraudulent or unauthorized use</li>
  </ul>
  
  <h2>Sharing of Information</h2>
  
  <p>We may share your personal information with third parties in the following circumstances:</p>
  
  <ul>
    <li>With your consent</li>
    <li>When required by law or to protect our legal rights</li>
    <li>With service providers and partners who assist us in delivering our services</li>
    <li>In connection with a business transaction, such as a merger or acquisition</li>
  </ul>
  
  <h2>Data Security</h2>
  
  <p>We take reasonable measures to protect your personal information from unauthorized access, loss, misuse, or alteration. However, please note that no method of transmission over the internet or electronic storage is 100% secure.</p>
  
  <h2>Changes to the Privacy Policy</h2>
  
  <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the "Last Updated" date at the top will be revised accordingly.</p>
  
  <h2>Contact Us</h2>
  
  <p>If you have any questions or concerns regarding this Privacy Policy, please contact us at:</p>
  
  <p>Email: [insert your contact email]</p>
  <p>Address: [insert your company address]</p>
  
</body1>
</html>

{%endblock%}