{% extends 'base.html' %}

{%block title%} 
<title>Student Signup</title>
{%endblock%} 

{% block content %}
<style>
    div1 {
        position: relative;
        top: 50px;
        left: 30%;
        background: azure;
    }
</style>
<form method="POST" action="{% url 'student_signup' %}">
    {% csrf_token %}
    <div1>
        <h1>Register here.</h1><br><br>
        {{form.as_p}}
        <button style="position: relative;
        top: 50px;
        left: 10%;" type="submit" class="btn btn-secondary">Register</button>
    </div1>
</form>

{%endblock%}